
@{
    ViewBag.Title = "Подтверждение почты";
    Layout = "_Layout";
}


<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="rounded p-5 bg-success text-center">
        <i class="bi bi-envelope-at-fill fs-1 mb-3"></i>
        <p class="mb-0">Проверьте почту, там будет подтверждение вашего email</p>
    </div>
</div>